
body {
    max-width: 90%; margin: 50px 100px 50px 100px;
    background: -webkit-linear-gradient(68deg, rgb(246, 252, 255), rgb(182, 146, 146));
    background: linear-gradient(68deg, rgb(246, 252, 255), rgb(182, 146, 146));
    background-image: url('https://rare-gallery.com/uploads/posts/350690-4k-wallpaper.jpg');background-repeat: no-repeat;background-position: bottom right;background-size: cover; 
}
p {
    font-family: serif; font-size: 16px ; color: midnightblue; word-spacing: 3px;
}
a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; word-spacing: 2px; color:rgb(238, 117, 36); font-weight: 200; font: 2em;
}
a:visited {
color:aqua;
}
a:hover {
    font-weight: 600; color: blueviolet;
}
q {
width:50%; margin: 80px 25% 80px 25%; font-size: 160%; background-color: rgb(199, 197, 197); padding: 0px 0px 0px 30px; font-style: italic;border-left: 3px solid firebrick;
}
span  {
    text-transform: capitalize;
}